.container{
  position: relative;
}
.salgados-doces{
  margin-top: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.salgados-doces li{
    border: .2em solid #ccff66;
    box-sizing: border-box;
    padding: 1em;
    margin-right: 5em;
    margin-left: 5em;
    margin-bottom: 3em;
}
.salgados-doces li:first-child {
    flex-basis: 50%;
    text-align: center;
}
.salgados-doces img{
  max-width: 300px;
	max-height: 300px;
	width: auto;
	height: auto;
}
.salgados-doces figcaption{
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
.salgados-doces li:hover{
  font-weight: bold;
}
